.cover {
    border: 5px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.info {
    margin: 50px;
    font-size: 25px;
}

.results {
    margin: 20px;
}
